.section-paragraph {
	font-family: 'Roboto Condensed', sans-serif;
	h2 {
		color: $primary-dark;
		font-size: 1.7rem;
	}
	h3 {
		color: #b2b2b2;
		font-size: 2.5rem;
	}

	p {
		color: #b2b2b2 !important;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	a {
		text-decoration: none;
		transition: all 0.25s;

		&:hover {
			color: $primary-dark;
			text-decoration: underline;
		}
	}

	.row > * {
		--bs-gutter-x: 1.875rem;
	}

	@include media-breakpoint-up(lg) {
		img {
			width: 90%;
		}
	}
	img {
		width: 100%;
	}
	img.full {
		width: 100%;
	}
}

.content-block {
	max-width: 796px;
	color: #424141;
	line-height: 150%;

	@include media-breakpoint-down(md) {
		max-width: 76%;
	}

	&_padding-bottom {
		padding-bottom: 11.25rem !important;

		@include media-breakpoint-down(md) {
			padding-bottom: 5.25rem !important;
		}
	}
}

.images-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-self: center;
	gap: 20px;

	img {
		width: 100%;
		height: 100%;
	}

	@include media-breakpoint-down(md) {
		grid-template-columns: repeat(2, 1fr);
	}
}
