.footer a {
	text-decoration: none;
	color: #4390ff;

	&:hover {
		color: #c6c9cd !important;
	}
}

.footer .bot-menu h3 {
	font-size: 1.7rem;
}

.footer ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.footer__title.active svg {
	transform: translateY(-50%) scaleY(-1);
}
.footer__title {
	position: relative;
	display: inline-flex;
	align-items: center;

	svg {
		display: none;
	}

	@include media-breakpoint-down(lg) {
		width: 200px;
		display: block;
		margin: 0 auto;
		margin-bottom: 7px;
		&:hover {
			cursor: pointer;
		}

		svg {
			display: block;
			position: absolute;
			right: 0%;
			top: 50%;
			transform: translateY(-50%) scaleY(1);
			transform-origin: center center;
			transition: all 0.25s;
		}
	}
}
@include media-breakpoint-down(md) {
	.footer {
		text-align: center;
	}
}
