.widget:not(:last-child) {
	margin-bottom: 1.25rem;
}
.services-card {
	min-height: 354px;

	& img {
		object-fit: cover;
	}

	& > .btn {
		border: none;
		padding-top: 0.875rem;
		padding-bottom: 0.875rem;
	}
	& > .btn:hover {
		color: white !important;
		background: linear-gradient(46deg, #3579ff 0%, $primary-dark 48.5%);
	}
}
.callout {
	$padding-y: 1.25rem;
	$padding-x: 3rem;

	position: relative;

	padding-top: $padding-y;
	padding-bottom: $padding-y;

	@include media-breakpoint-down(md) {
		&__title {
			position: relative;
			text-align: center;
			padding-bottom: 20px;
			margin-bottom: 20px;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 5px;
				border-radius: 30px;
				background-color: #a5c0dd;
			}
		}
		&::before {
			display: none;
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: $padding-y;
		bottom: $padding-y;
		transform: translateX(-26px);
		width: 8px;
		border-radius: 30px;
		background-color: #a5c0dd;
	}

	p {
		line-height: 1.4;
	}
}

.left-menu-header {
	text-align: left;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.75rem;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: $gray;

	background-color: #fff;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
