.result-search-form {
	display: flex;
	justify-content: center;
	align-items: center;

	.search {
		max-width: 940px;
		width: 100%;
	}
}
.result-search-list {
	font-family: 'Cuprum', sans-serif;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.result-search-item {
	background-color: white;

	padding: 1rem;
	display: flex;
	gap: 20px;

	transition: all 0.25s;

	@include media-breakpoint-down(sm) {
		flex-direction: column;

		&__price {
			font-size: 1.2rem;
		}
	}

	@include media-breakpoint-up(md) {
		&:hover {
			transform: scale(1.04);
		}
	}

	&__image {
		overflow: hidden;
		border-radius: 10px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		max-width: 600px;
	}
	&__title a {
		font-size: 1.325rem;
		color: $primary-dark;
		transition: all 0.25s;
		text-decoration: none;

		&:hover {
			color: $primary;
		}
	}

	&__attributes-list {
		display: flex;
		flex-direction: column;
		gap: 5px;

		list-style: none;
		padding: 0;
	}
	&__attributes-item {
		font-family: 'Roboto', sans-serif;
		font-size: 1.125rem;
		color: $gray;
		letter-spacing: 0.03em;

		&_light {
			color: #b4b4b4;
			font-size: 1rem;
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;

		margin-left: auto;
		flex-grow: 1;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;

		max-width: 203px;
		width: 100%;
		padding: 13px 20px;

		font-family: 'Oswald', sans-serif;
		font-weight: 500;
		font-size: 1.375rem;

		&:disabled {
			color: #98a4b2;
			background: #fafafa;
		}
	}
}
.api-tag {
	background-color: rgba(186, 219, 255, 0.5);
	border-radius: 10px;
	padding: 2px 10px 2px;
}
