.ff-roboto {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 0.03em;
}
.ff-cuprum {
	font-family: 'Cuprum', sans-serif;
}
.ls-normal {
	letter-spacing: 0;
}
.fs-md {
	font-size: 1.125rem;
}

.footer-bg {
	background: linear-gradient(45deg, #00336a, #000b31);
}
.gradient-primary {
	background: linear-gradient(46deg, #3579ff 0%, #073f7d 48.5%);
}

.h-fc {
	height: fit-content;
}

.link-icon {
	&:hover {
		color: $primary;
	}
}

.content-block {
	font-size: 1.125rem;
}

.lh-0 {
	line-height: 0 !important;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.btn-price {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0.03em;
	text-align: center;
	color: #333;
	background-color: transparent;
	transition: all 0.25s;

	&:hover {
		background-color: #f3f3f3b4;
	}
}
@include media-breakpoint-up(sm) {
	.fs-md-3,
	a.fs-md-3 {
		font-size: 1.25rem !important;
	}
}
.header-main {
	font-size: 1.8rem;
	@include media-breakpoint-down(md) {
		font-size: 1.3rem;
	}
	color: $primary-dark;
}
.px-xl {
	padding-left: 90px;
	padding-right: 90px;
}
.px-md-xl {
	@include media-breakpoint-up(md) {
		padding-left: 90px;
		padding-right: 90px;
	}
}
.row-p {
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.fs20 {
	font-size: 1.25rem;
}
