.split-card {
	font-family: 'Cuprum', sans-serif;

	&__header {
		display: flex;
		align-items: center;
		gap: 10px;

		margin-bottom: 10px;
	}

	&__icon {
		width: auto;
		max-width: 90px;
		min-width: 40px;
		height: 45px;
		fill: $primary-dark;
	}

	&__title {
		font-size: 1.25rem;
		text-transform: uppercase;
		color: #545d63;
		margin: 0;
		font-weight: 700;
		text-align: left;
	}

	&__content {
	}

	&__text {
		font-size: 1rem;
		line-height: 1.5;
		color: #576778;
	}
}
