.modal-comment {
	--padding-x: 35px;
	--padding-y: 20px;
	--bs-modal-header-padding: var(--padding-y) var(--padding-x);
	--bs-modal-color: white;
	--bs-border-color: #367bc570;
	--bs-modal-width: 620px;
	--bs-modal-border-width: 0px;

	font-family: 'Oswald', sans-serif;

	@include media-breakpoint-down(md) {
		--padding-x: 25px;
	}

	p,
	label,
	.modal-subtitle {
		opacity: 0.7;
	}

	form.invalid input,
	form.invalid textarea,
	form.invalid select {
		outline: 1px solid var(--bs-danger) !important;
		box-shadow: 0 0 7px 3px rgb(220 53 70 / 50%) !important;
	}

	.modal-dialog {
		margin-right: auto !important;
		margin-left: auto !important;
		padding: 0 var(--bs-modal-margin);
	}

	.modal-content {
		position: relative;
		backdrop-filter: blur(4px);
		background: linear-gradient(
			90deg,
			rgba(6, 40, 86, 0.8) 0%,
			rgba(16, 72, 149, 0.8) 100%
		);

		&::after {
			content: '';
			position: absolute;
			display: inline-block;
			top: 40px;
			right: 20px;
			width: 182px;
			aspect-ratio: 1/1;
		}
	}
	.modal-header,
	.modal-body,
	.modal-footer {
		border: none;
	}
	.modal-header {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 2px;
	}
	.modal-title {
		font-size: 1.5rem;
		letter-spacing: 0.03em;
		font-weight: 400;
	}

	.modal-subtitle {
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
	}
	.btn-close {
		--padding: 10px;

		position: absolute;
		top: var(--padding-y);
		right: var(--padding-x);

		color: white;

		margin: 0;
		padding: var(--padding);

		background: none;
		border: none;
		outline: none;
		box-shadow: none;
		z-index: 999;

		transition: all 0.25s;

		&:hover,
		&:focus {
			background: none;
			outline: none;
			box-shadow: none;
		}

		&:hover {
			opacity: 0.7;
			transform: scale(1.1);
		}
	}
	.modal-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;

		.btn-link {
			font-family: 'Roboto', sans-serif;
			color: white;
			font-size: 1rem;
			opacity: 0.6;
			font-weight: 400;

			transition: all 0.25s;

			&:hover {
				opacity: 0.9;
			}
		}
		.btn-banner {
			font-size: 1.25rem;
		}
	}
	.modal-body {
		display: flex;
		flex-direction: column;
		gap: 25px;
		padding: var(--padding-y) var(--padding-x);
	}
	.counter-input {
		position: absolute;
		right: 0;
		bottom: -5px;
		transform: translateY(100%);
	}
}

.modal-report .modal-content {
	&::after {
		background: url('data:image/svg+xml,%3Csvg width=%22182%22 height=%22169%22 viewBox=%220 0 182 169%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath opacity=%220.31%22 fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M96.5877 15.1462C96.1886 14.3491 95.3904 13.1533 94.193 12.7547C93.3947 12.3561 92.1974 11.9575 91 11.9575C89.8026 11.9575 88.6053 12.3561 87.807 12.7547C87.0088 13.1533 86.2105 13.9505 85.4123 15.1462C77.8289 23.5165 22.3509 130.337 12.7719 148.672C12.3728 149.469 11.9737 150.267 11.9737 151.462C11.9737 152.658 12.3728 153.455 12.7719 154.651C13.1711 155.448 13.9693 156.245 15.1667 157.042C15.9649 157.441 17.1623 157.84 18.3596 157.84H164.039C165.237 157.84 166.035 157.441 167.232 157.042C168.031 156.644 168.829 155.847 169.627 154.651C170.026 153.854 170.425 152.658 170.425 151.462C170.425 150.267 170.026 149.469 169.627 148.672C159.649 130.337 104.171 23.5165 96.5877 15.1462ZM102.974 135.917C102.974 137.512 101.776 139.106 99.7807 139.106H81.8202C80.2237 139.106 78.6272 137.512 78.6272 135.917V118.38C78.6272 116.785 79.8246 115.191 81.8202 115.191H99.7807C101.377 115.191 102.974 116.785 102.974 118.38V135.917ZM102.974 101.241C102.974 102.436 101.377 103.233 99.7807 103.233H82.6184C81.0219 103.233 79.4254 102.436 79.4254 101.241L77.8289 58.592C77.8289 58.1934 78.2281 56.9976 78.6272 56.5991C79.0263 56.2005 80.2237 55.4033 81.0219 55.4033H101.776C102.575 55.4033 103.373 55.8019 104.171 56.5991C104.969 56.9976 104.969 57.7948 104.969 58.1934L102.974 101.241ZM100.18 2.79009C102.974 4.38443 105.368 6.77594 106.965 9.56604L179.605 142.693C181.202 145.483 182 148.672 182 151.462C182 154.651 181.202 157.441 179.605 160.231C178.009 163.021 175.614 165.014 172.82 166.608C170.026 168.203 167.232 169 164.039 169H18.3596C15.1667 169 11.9737 168.203 9.57895 166.608C6.78509 165.014 4.78947 163.021 2.79386 160.231C1.19737 157.84 0 154.651 0 151.462C0 148.274 0.798246 145.085 2.39474 142.693L75.0351 9.56604C76.6316 6.77594 79.0263 4.38443 81.8202 2.79009C84.614 1.19575 87.807 0 91 0C94.193 0 97.386 1.19575 100.18 2.79009Z%22 fill=%22%235b8cc0%22/%3E%3C/svg%3E');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.input-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin: 0px;

	&_split {
		width: 50%;
	}
	&__desc {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: 0.03em;
		color: #fff;
		opacity: 0.6;
	}
}

.input-fill {
	border-radius: 5px;
	border-width: 0;
	background: #e2f0ff;
	padding: 10px;
	transition: all 0.25s;

	&_textarea {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
		font-size: 1rem;
		line-height: 140%;
		letter-spacing: 0.03em;

		padding: 15px;
		resize: none;

		color: black;

		&:placeholder {
			color: rgba(0, 0, 0, 0.3);
		}
	}
	&_select {
		-webkit-appearance: initial;
		color: black;
		&:hover {
			cursor: pointer;
		}
	}
}

.counter-input {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.5);
	opacity: 0.8;
}
.textarea-outline {
	width: 100%;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0;
	padding: var(--input-padding-y) var(--input-padding-x);
	background-color: transparent;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	&::placeholder {
		color: #e9e9e9;
		opacity: 0.6;
	}

	&:focus,
	&:active {
		outline: none;
		box-shadow: none;
	}
}
.modal-subscribe {
	.modal-content:after {
		top: 62px;
		right: unset;
		left: 50%;
		transform: translateX(-50%);
		background: url("data:image/svg+xml,%3Csvg width='263' height='96' viewBox='0 0 263 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M198.825 0.000786237C218.566 0.000786237 238.308 -0.00185639 258.05 0.00254799C262.592 0.00342887 263.729 1.4648 262.587 5.84276C255.143 34.3893 247.695 62.935 240.245 91.4803C239.385 94.7791 238.645 95.3477 235.142 95.3477C195.438 95.3521 155.735 95.353 116.031 95.3469C111.934 95.346 110.724 93.782 111.753 89.8313C119.23 61.1416 126.713 32.4536 134.2 3.76653C135.03 0.588771 135.797 0.00651193 139.159 0.00519062C159.047 -0.00229683 178.936 0.00122668 198.825 0.000786237ZM255.418 6.72364C254.356 6.67034 253.704 6.60912 253.054 6.60912C216.206 6.60428 179.358 6.62057 142.511 6.55891C140.622 6.55583 140.045 7.25172 139.611 8.93728C132.974 34.6602 126.268 60.3659 119.582 86.0756C119.382 86.8429 119.231 87.6225 118.979 88.7465C120.087 88.7465 120.944 88.7465 121.8 88.7465C158.354 88.7465 194.908 88.7293 231.462 88.7927C233.492 88.7971 234.36 88.2963 234.89 86.2329C241.422 60.7874 248.063 35.3684 254.671 9.94104C254.926 8.96194 255.131 7.96964 255.418 6.72364Z' fill='%235B8CC0' /%3E%3Cpath d='M90.985 23.6778C83.9455 23.6774 76.905 23.6897 69.8651 23.6628C68.9252 23.6593 67.7633 23.7584 67.1013 23.2708C66.2006 22.6075 65.1163 21.4047 65.1502 20.4714C65.1885 19.421 66.2108 18.1965 67.1348 17.461C67.762 16.9616 68.956 17.0831 69.8968 17.0818C83.9767 17.062 98.0575 17.0673 112.137 17.0699C112.723 17.0699 113.317 17.0417 113.894 17.1232C115.718 17.3813 116.848 18.4088 116.99 20.2798C117.122 22.0125 115.82 23.4558 113.862 23.6082C111.966 23.7558 110.052 23.6747 108.145 23.6765C102.426 23.6813 96.7054 23.6778 90.985 23.6778Z' fill='%235B8CC0' /%3E%3Cpath d='M87.5438 44.3705C93.5607 44.3718 99.5794 44.289 105.592 44.4392C106.84 44.47 108.399 45.0479 109.228 45.9265C110.691 47.4773 109.741 50.0213 107.656 50.6837C106.84 50.9436 105.923 50.9682 105.053 50.9691C93.3132 50.9863 81.5728 50.9801 69.8338 50.9784C69.3203 50.9784 40.7856 50.9964 40.2769 50.944C38.3429 50.7418 37.1335 49.7192 37 47.7337C36.8784 45.9186 38.2575 44.4823 40.3777 44.422C44.2633 44.311 76.1717 44.3749 80.0604 44.3691C82.5546 44.3665 85.0492 44.3696 87.5438 44.3705Z' fill='%235B8CC0' /%3E%3Cpath d='M83.7755 78.28C78.8681 78.2808 9.42768 78.3068 4.52032 78.2698C2.07413 78.2526 0.753253 77.2427 0.500001 75.3665C0.215477 73.2563 1.7623 71.7275 4.40008 71.6923C8.64767 71.6364 77.4296 71.6734 81.6777 71.6734C87.3175 71.6734 92.9568 71.6734 98.5971 71.6769C100.304 71.6778 101.822 72.0332 102.519 73.854C103.406 76.1716 101.822 78.2179 98.9367 78.2593C93.884 78.331 88.8295 78.2791 83.7755 78.28Z' fill='%235B8CC0' /%3E%3Cpath d='M199.312 52.2444C195.25 55.2544 191.373 58.1397 187.484 61.007C184.357 63.3104 183.104 63.1611 180.627 60.2155C178.461 57.638 176.303 55.0549 173.97 52.2713C173.177 52.821 172.467 53.2847 171.787 53.7877C160.757 61.9495 149.732 70.1201 138.698 78.2783C137.816 78.9297 136.936 79.6287 135.953 80.0898C134.449 80.7945 133.036 80.4642 132.062 79.0737C131.101 77.7066 131.236 76.2902 132.314 75.0287C132.737 74.5359 133.299 74.154 133.828 73.7616C145.083 65.4096 156.343 57.0637 167.601 48.7161C168.241 48.2422 168.874 47.7586 169.72 47.1199C167.11 43.9444 164.621 40.8983 162.113 37.8676C157.574 32.3846 153.019 26.9157 148.487 21.4265C147.93 20.7522 147.101 20.0013 147.075 19.2609C147.034 18.1303 147.234 16.5482 147.974 15.9501C148.793 15.2877 150.424 15.1714 151.53 15.4643C152.448 15.707 153.191 16.8275 153.886 17.6634C163.784 29.5711 173.66 41.4964 183.545 53.4151C183.87 53.8084 184.234 54.1687 184.714 54.6902C185.256 54.3374 185.806 54.0225 186.31 53.6494C203.064 41.2537 219.812 28.8527 236.565 16.4557C237.095 16.0637 237.615 15.6286 238.205 15.3546C239.793 14.6178 241.244 14.8618 242.31 16.3064C243.382 17.7599 243.201 19.2027 241.94 20.4686C241.426 20.9848 240.822 21.4164 240.234 21.8529C229.037 30.16 217.836 38.4609 206.638 46.7676C206.061 47.1966 205.511 47.6647 204.748 48.2752C207.481 51.5992 210.114 54.8166 212.764 58.019C217.208 63.3902 221.671 68.7459 226.103 74.1267C226.608 74.7411 227.35 75.4978 227.312 76.151C227.243 77.3534 227.018 78.9623 226.219 79.5904C225.439 80.2039 223.791 80.0678 222.658 79.7626C221.867 79.5503 221.249 78.5421 220.643 77.815C213.975 69.8051 207.326 61.783 200.668 53.7653C200.295 53.3204 199.896 52.8989 199.312 52.2444Z' fill='%235B8CC0' /%3E%3C/g%3E%3C/svg%3E")
			center/contain no-repeat;
	}
}
