.info-section {
	font-family: 'Cuprum', sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	font-style: italic;
	color: white;

	&_dark {
		background-color: #051c35;
	}
	&_gray {
		background-color: #e4e5e6;
		color: #545d63;
		font-weight: normal;
	}
	&__block {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
		padding: 40px 15px;
	}
	&__text {
		text-align: left;
	}
}
.split-schema {
	font-family: 'Cuprum', sans-serif;
	color: #545d63;
	font-size: 1.25rem;
	&__img {
		position: sticky;
		top: 10px;
		border-radius: 10px;
		width: 100%;
		object-position: top center;

		// padding-left: 62px;
	}
	&__title {
		font-size: 2.25rem;
		line-height: 1;
		margin-bottom: 1.75rem;
	}

	&__desc {
		position: relative;
		padding-left: 40px;
		font-size: 18px;
		margin-bottom: 16px;
	}
	&__desc-count {
		position: absolute;
		left: 0;
		top: 5px;
		width: 22px;
		height: 22px;
		line-height: 22px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 14px;
		background: #e5848d;
		text-align: center;
		color: #fff;
	}
	&__desc-green &__desc-count {
		background: #126f25;
	}
	&__desc-green &__desc-title {
		color: #126f25;
	}
	&__desc-title {
		font-size: 22px;
		color: #e5848d;
	}
	&__desc-text {
		font-size: 1.125rem;
		color: #545d63;
		line-height: 1.3;
	}
	&__item-park-title {
		font-size: 22px;
		color: #073f7d;
		margin-bottom: 10px;
	}
}

.phone-section {
	&__number {
		text-decoration: none;
		color: #397bbf;
		font-size: 2.125rem;
		font-weight: bold;

		span {
			color: #545d63;
		}
	}
	&__mail-wrapper {
		text-align: left;
		font-size: 1.5rem;

		&:not(:last-child) {
			margin-bottom: 24px;
			@include media-breakpoint-down(md) {
				margin-bottom: 10px;
			}
		}

		p {
			color: #545d63;
			text-transform: uppercase;
			margin-bottom: 0 !important;
		}
		a {
			color: $primary;
			text-decoration: none;
		}
	}
}
