.breadcrumb {
	width: max-content;
	margin: 0 !important;
}
.breadcrumb-wrapper {
	overflow-x: auto;
	/* Для вебкит-браузеров (Chrome, Safari, Edge) */
	&::-webkit-scrollbar {
		height: 3px;
	}

	&::-webkit-scrollbar-track {
		background: transparent; /* Цвет фона трека */
	}

	&::-webkit-scrollbar-thumb {
		background: $secondary; /* Цвет ползунка */
		border-radius: 6px; /* Закругление углов ползунка */
	}

	&::-webkit-scrollbar-thumb:hover {
		background: $secondary; /* Цвет ползунка при наведении */
	}
}
.breadcrumb-item {
	display: flex;
	align-items: flex-end;
	line-height: 1;
	&.active {
		font-family: 'Roboto Condensed', sans-serif;
		letter-spacing: 0.03em;
	}
	a {
		text-decoration: none;
	}
	&::before {
		width: 14px;
		height: 16px;
		padding-right: 0 !important;
		margin-right: var(--bs-breadcrumb-item-padding-x);
	}
}
.breadcrumb-item + .breadcrumb-item::before {
	font-family: auto;
}

@include media-breakpoint-only(xs) {
	.breadcrumb {
		&-item::before {
			padding-right: var(--bs-breadcrumb-item-padding-x);
			color: var(--bs-breadcrumb-divider-color);
			content: var(
				--bs-breadcrumb-divider,
				url('data:image/svg+xml, %3csvg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3e %3cg clip-path="url%28%23clip0_1_467%29"%3e %3cpath fill-rule="evenodd" clip-rule="evenodd" d="M13.3793 9.00336C13.6566 8.73157 13.7929 8.39379 13.7929 8.0002C13.7929 7.6071 13.6565 7.26928 13.3793 6.99708L6.88213 0.5H0.207031L7.70723 8.0002L0.207031 15.5H6.88213L13.3793 9.00336Z" fill="%23B4B4B4"/%3e %3c/g%3e %3cdefs%3e %3cclipPath id="clip0_1_467"%3e %3crect width="14" height="15" fill="white"  transform="translate%280 0.5%29"/%3e %3c/clipPath%3e %3c/defs%3e %3c/svg%3e')
			);
		}
	}
}
