// Иконка разделителя у хлебных крошек
$arrow: url('data:image/svg+xml, <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1_467)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3793 9.00336C13.6566 8.73157 13.7929 8.39379 13.7929 8.0002C13.7929 7.6071 13.6565 7.26928 13.3793 6.99708L6.88213 0.5H0.207031L7.70723 8.0002L0.207031 15.5H6.88213L13.3793 9.00336Z" fill="#B4B4B4"/> </g> <defs> <clipPath id="clip0_1_467"> <rect width="14" height="15" fill="white"  transform="translate(0 0.5)"/> </clipPath> </defs> </svg>');

// Разделитель
$breadcrumb-divider: $arrow;
// Размер шрифта
$breadcrumb-font-size: null;
// Вертикальный внутренний отступ
$breadcrumb-padding-y: 0.875rem;
// Горизонтальный внутренний отступ у элементов хлебных крошек
$breadcrumb-item-padding-x: 1rem;
// Цвет активной ссылки
$breadcrumb-active-color: $secondary;
