.orders-list {
	font-family: 'Cuprum', sans-serif;
	padding: 30px 0 50px 0;
}
.orders-head {
	border-bottom: 1px solid #c1cbd4;
}
.orders-head,
.oif-table-head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 30px;
}
.order-item,
.oif-table-body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	border-bottom: 1px solid #c1cbd4;
	transition: all 0.25s;
}
.order-item div,
.oif-table-body div {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	padding: 15px 0px;
	color: #545d63;
	font-size: 15px;
	line-height: 17px;
}
.order-item div:nth-child(1) {
	flex: auto;
	max-width: 145px;
	width: 145px;
}
.orders-head div:nth-child(1),
.orders-head div:nth-child(4),
.orders-head div:nth-child(5),
.order-item div:nth-child(1),
.order-item div:nth-child(4),
.order-item div:nth-child(5),
.oif-table-head .oif-table-column:nth-child(1),
.oif-table-head .oif-table-column:nth-child(3),
.oif-table-head .oif-table-column:nth-child(4) {
	width: 150px;
	max-width: 150px;
	flex: auto;
}
.order-item div,
.oif-table-body div {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	padding: 15px 0px;
	color: #545d63;
	font-size: 15px;
	line-height: 17px;
}
.order-item div,
.oif-table-body div {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	padding: 15px 0px;
	color: #545d63;
	font-size: 15px;
	line-height: 17px;
}
.orders-head div:nth-child(1),
.orders-head div:nth-child(4),
.orders-head div:nth-child(5),
.order-item div:nth-child(1),
.order-item div:nth-child(4),
.order-item div:nth-child(5),
.oif-table-head .oif-table-column:nth-child(1),
.oif-table-head .oif-table-column:nth-child(3),
.oif-table-head .oif-table-column:nth-child(4) {
	width: 150px;
	max-width: 150px;
	flex: auto;
}
.orders-head div,
.oif-table-head div,
.oif-table-head-comment div {
	flex: 1;
	color: #9099a0;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 0px;
}
.order-item:hover,
.order-item.active {
	cursor: pointer;
	background-color: #08366b;
	border-bottom: 1px solid #8199b4;
}
.order-item div strong,
.oif-table-body div strong {
	color: #013d7e;
	font-size: 24px;
	font-weight: 400;
}
.order-item:hover div strong,
.order-item.active div strong {
	color: #fff;
	font-weight: 400;
}
.order-item:hover div,
.order-item.active div {
	color: #fff;
	align-items: center;
}
.order-item div p,
.oif-table-body div p {
	margin-bottom: 0;
	width: 100%;
}
.order-item-full {
	border-bottom: 3px solid rgba(127, 141, 154, 0.2);
	position: relative;
}
.oif-top {
	padding: 0 30px;
	padding-top: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: $primary-dark;
}
.oif-table {
	position: relative;
}
.oif-products {
	padding: 0 30px;
	padding-top: 15px;
}
.oif-total {
	width: 300px;
	float: right;
	margin-right: 30px;
	margin-top: 30px;
}
.oif-top div {
	padding: 0px;
	font-size: 24px;
}
.orders-head,
.oif-table-head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 30px;
}
.oif-table-head {
	margin-top: 10px;
}
.orders-head div,
.oif-table-head div,
.oif-table-head-comment div {
	flex: 1;
	color: #9099a0;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 0px;
}
.oif-table-line {
	border-bottom: 1px solid #c1cbd4;
	width: 100%;
	margin: 10px 0 15px 0;
	left: 0;
	position: absolute;
}
.clear {
	clear: both;
	margin-bottom: 25px;
}
.oif-table-value {
	color: #545d63 !important;
}
.oif-products h3 {
	font-size: 20px;
	font-weight: 700;
	color: #697278;
	margin-bottom: 25px;
}
.oif-product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
	border-bottom: 3px solid rgba(127, 141, 154, 0.2);
	padding-bottom: 5px;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	& > * {
		flex: 1;
	}
	& > a {
		width: 130px;
		max-width: 130px;
		flex: auto;
		background-color: #ccc;
		background-image: url(no-photo.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70%;
	}
	& > a + * {
		padding-left: 10px;
		width: 40%;
		flex: 0 0 40%;
	}

	& > a + * strong {
		display: block;
		text-transform: uppercase;
		color: #b8b8b8;
		font-size: 16px;
		margin-bottom: 20px;
	}
	& > a + * a {
		font-size: 16px;
		line-height: 16px;
		display: block;
		color: #20558e;
		text-decoration: none;
	}
}
.oif-product-q {
	padding: 45px 10px 0 10px;
	text-align: center;
	width: 150px;
	max-width: 150px;
}
.oif-product-price {
	display: flex;
	flex-wrap: wrap;
	color: #001433;
	font-weight: 700;
	font-size: 24px;
	padding-top: 38px;
	width: 150px;
	max-width: 150px;
}
@media (max-width: 768px) {
	.order-item:nth-child(1) {
		border-top: 1px solid #c1cbd4;
	}
}
@media (max-width: 576px) {
	.order-item,
	.oif-table-body {
		padding: 10px 30px;
	}
}
@media (max-width: 576px) {
	.orders-head div:nth-child(1),
	.orders-head div:nth-child(2),
	.orders-head div:nth-child(3),
	.orders-head div:nth-child(4),
	.orders-head div:nth-child(5),
	.order-item div:nth-child(1),
	.order-item div:nth-child(2),
	.order-item div:nth-child(3),
	.order-item div:nth-child(4),
	.order-item div:nth-child(4),
	.order-item div:nth-child(5),
	.oif-table-head .oif-table-column:nth-child(1),
	.oif-table-head .oif-table-column:nth-child(2),
	.oif-table-head .oif-table-column:nth-child(3),
	.oif-table-head .oif-table-column:nth-child(4) {
		width: 100%;
		max-width: 100%;
		flex: auto;
		text-align: center;
		align-items: center;
		padding: 5px 0px;
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.orders-head {
		display: none;
	}
}
@media (max-width: 576px) {
	.order-item div:nth-child(4),
	.order-item div:nth-child(5) {
		display: none;
	}
}
@media (max-width: 576px) {
	.oif-top {
		justify-content: center;
	}
}
@media (max-width: 576px) {
	.oif-product > a {
		width: 100%;
		max-width: 100%;
	}
}
@media (max-width: 768px) {
	.oif-product-q {
		padding: 45px 0 0 0px;
		text-align: center;
		width: 55px;
		max-width: 55px;
	}
}
@media (max-width: 576px) {
	.oif-product-q {
		width: 80px;
		max-width: 80px;
	}
}
