.b-favorite-block__filter {
	background: #fff;
	padding: 5px 15px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 15px;
}
.b-favorite-block__left {
	display: flex;
	align-items: center;
}
.b-favorite-block__right {
	display: flex;
	justify-content: flex-end;
}
.custom-control {
	position: relative;
	display: block;
	min-height: 1.5rem;
	padding-left: 1.5rem;
}
.b-favorite-block__filter-check {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	font-family: 'Cuprum', sans-serif;
	font-size: 15px;
	line-height: 1;
	color: #9099a0;
	padding: 0 0 0 26px;
	margin: 0;
	margin-right: 0px;
}
.custom-checkbox {
	cursor: pointer;
	margin-right: 5px;
}
@media (min-width: 671px) {
	.b-favorite-block__filter-check {
		margin-right: 50px;
	}
}
.b-favorite-block__filter-check {
	font-family: 'Cuprum', sans-serif;
	font-size: 15px;
	line-height: 1;
	color: #9099a0;
}
.b-favorite-block__sort {
	display: flex;
	align-items: center;
	font-family: 'Cuprum', sans-serif;
	font-size: 15px;
	line-height: 1;

	&-title {
		color: #9099a0;
		margin-right: 5px;
	}
}
.paging {
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;

	li {
		font-family: 'Cuprum', sans-serif;
		padding: 3px;
	}
	.dropdown-menu {
		min-width: 6rem;
	}
}
.btn-sort {
	font-size: 1rem;
	color: #367bc5;
	background-color: #f5f4f1;
	border-color: #f5f4f1;
	outline: none;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.sorting .dropdown-item {
	color: #367bc5;
}
.b-favorite-block__right {
	display: flex;
	justify-content: flex-end;
}
.b-favorite-block__show {
	display: flex;
	align-items: baseline;

	&-title {
		font-family: 'Cuprum', sans-serif;
		font-size: 15px;
		line-height: 1;
		color: #9099a0;
		margin-right: 30px;
	}
}
.b-favorite-block__show-items a {
	font-family: 'Cuprum', sans-serif;
	font-size: 15px;
	line-height: 1;
	color: #3b7bbf;
	text-decoration: none;
}
.b-favorite-block__show-items a:hover,
.b-favorite-block__show-items a.active,
.b-favorite-block__show-items a:focus {
	color: #9099a0;
}
.b-favorite-block__show-items a:after {
	content: ' | ';
	color: #545d63;
}
@media (max-width: 670px) {
	.b-favorite-block__right {
		display: none;
	}
}
@media (max-width: 670px) {
	.b-favorite-block__left {
		width: 100%;
		padding: 0;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-pack: justify;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}
	.b-favorite-block__filter-check {
		padding-left: 0;
	}
	.b-favorite-block__sort-title {
		flex-grow: 1;
		width: 100%;
	}
}
@media (max-width: 412px) {
	.b-favorite-block__left {
		-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
}

// === LOT ITEMS ===
.b-filter-lot__item {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	background: #fff;
	padding: 15px;
	margin-bottom: 15px;
}
.b-filter-lot__img {
	padding: 0;
	/* max-height: 175px; */
	/* overflow: hidden; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: center;
	align-items: flex-start;
}
.b-filter-lot__img img {
	width: 100%;
}
.b-filter-lot__content {
	padding: 0 0 0 20px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
.b-filter-lot__content-left {
	-ms-flex: 0 0 53%;
	-webkit-box-flex: 0;
	flex: 0 0 53%;
}
.b-filter-lot__content-wrap {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	padding-left: 30px;
	padding-right: 5px;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
.b-filter-lot__content-vendor {
	font-family: 'Cuprum', sans-serif;
	font-size: 1rem;
	line-height: 16px;
	color: #b2b2b2;
	margin-bottom: 15px;
}
.b-filter-lot__content-title {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2rem;
	line-height: 28px;
	color: #073f7d;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}
.b-filter-lot__content-time {
	font-family: 'Cuprum', sans-serif;
	font-size: 1rem;
	line-height: 11.9px;
	color: #545d63;
	margin-top: 35px;
}
.b-filter-lot__content-wrap-right {
	width: 60%;
	text-align: left;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-flex-align: center;
	-webkit-box-align: right;
	align-items: right;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
}
.b-filter-lot__content-price {
	font-family: 'Cuprum', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
	/* color: #001b36; */
	color: #073467;
	margin-bottom: 15px;
}
.b-filter-lot__content-button {
	font-family: 'Cuprum', sans-serif;
	font-size: 15px;
	line-height: 13.6px;
	color: #fff;
	background: #397bbf;
	border-radius: 4px;
	padding: 8px 25px;
	text-decoration: none;
	border: 2px solid transparent;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: end;
	-webkit-box-align: end;
	align-items: flex-end;
	width: 138px;
	gap: 5px;

	&:hover {
		color: #fff !important;
		text-decoration: none;
		border: 2px solid #f23629 !important;
		background: #f23629 !important;
	}
}
.b-filter-lot__closed .svg-icon svg:hover,
.b-filter-lot__closed .svg-icon svg:focus {
	fill: #ef382a;
	stroke: #ef382a;
}
.b-filter-lot__closed {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
}
.b-filter-lot__closed .svg-icon svg {
	fill: #b2b2b2;
	stroke: #b2b2b2;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.svg-icon__link {
	color: white;
}
@media (max-width: 1080px) {
	.b-filter-lot__closed {
		margin-left: 15px;
	}
}
@media (max-width: 1035px) {
	.b-filter-lot__content-wrap {
		padding-right: 0;
	}
	.b-filter-lot__content-wrap {
		padding-left: 0;
	}
}
@media (max-width: 819px) {
	.b-filter-lot__content {
		display: block;
	}
}
@media (max-width: 819px) {
	.b-filter-lot__content-left {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
	}
}
@media (max-width: 819px) {
	.b-filter-lot__content-time {
		margin-top: 15px;
	}
}
@media (max-width: 819px) {
	.b-filter-lot__content-wrap {
		padding-left: 0;
		align-items: flex-end;
	}
}
@media (max-width: 819px) {
	.b-filter-lot__content-wrap-right {
		width: auto;
		padding-left: 0;
		margin-top: 15px;
	}
}
// MOBILE
@media (max-width: 670px) {
	.b-filter-lot__item {
		-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
}
@media (max-width: 670px) {
	.b-filter-lot__img {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;

		picture,
		img {
			width: 100%;
		}
	}
}
@media (max-width: 670px) {
	.b-filter-lot__content {
		-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
		width: 100%;
	}
}
@media (max-width: 670px) {
	.b-filter-lot__content-left {
		text-align: center;
	}
}
@media (max-width: 670px) {
	.b-filter-lot__content-vendor {
		margin-top: 15px;
	}
}
@media (max-width: 670px) {
	.b-filter-lot__content-time {
		margin-top: 16px;
		margin-bottom: 15px;
	}
}
@media (max-width: 670px) {
	.b-filter-lot__content-wrap {
		-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		text-align: center;
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 700px) {
	.b-filter-lot__content-wrap-right {
		width: auto;
		align-items: center;
	}
}
@media (max-width: 680px) {
	.b-filter-lot__closed {
		margin-top: 20px;
		margin-left: 0;
	}
}
