.left-bar__title {
	background-color: #fff;
	color: #545d63;
	text-transform: uppercase;
	font-size: 1.75rem;
	font-family: 'Cuprum', sans-serif;
	text-align: center;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 15px;
}

.left-bar__menu {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: left;
	}

	ul li > a {
		display: flex;
		position: relative;
		align-items: center;
		font-family: 'oswald', sans-serif;
		font-size: 17px;
		line-height: 2;
		color: #545d63;
		text-transform: none;
		padding: 9px 30px 9px 10px;
		background: #e4e5e6;
		margin: 0 0 5px;
		position: relative;
		text-decoration: none;
		transition: 0.5s;
		border: 1px solid;
		border-color: #cdcdcd;
		transition: all 0.25s;

		&:hover {
			background: #cdcdcd;

			svg {
				color: #868f99;
			}
		}
	}
	ul li > a svg {
		width: 25px;
		height: 25px;
		margin-right: 17px;
		color: #bfbfbf;
		transition: 0.5s;
	}
	ul li > ul {
		list-style: none;
		padding: 0;
		margin: 0;
		// display: none;
	}

	ul li > ul li a {
		display: block;
		font-family: 'oswald', sans-serif;
		font-size: 17px;
		line-height: 1.5;
		color: #545d63;
		text-transform: none;
		padding: 12px 10px 13px 50px;
		background: none;
		margin: 0 0 5px;
		position: relative;
		text-decoration: none;
		/* border: 1px solid #b6b6bd; */
		background-color: white;
	}
}

// === RIGHT SECTION ===
.b-favorite-block {
	width: 100%;

	&__title {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		position: relative;
		z-index: 1;
		flex-wrap: wrap;
		margin-top: 8px;

		h1 {
			margin: 0;
			width: auto;
			display: inline-block;
			color: #545d63;
			font-size: 32px;
			line-height: 36px;
			text-align: center;
			padding: 0 40px;
		}

		&::before,
		&::after {
			content: '';
			top: 50%;
			left: 0;
			right: 0;
			height: 2px;
			background: #8a9eb3;
			z-index: -1;
			flex: 1;
		}
	}
	&__title-info {
		color: #909aa1;
		font-size: 17px;
		font-family: 'Cuprum', sans-serif;
		text-align: center;
		line-height: 1;
		margin-bottom: 15px;
	}
	&__img-wrapper {
		padding: 20px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
