.b-profile__wrap {
	margin-top: 10px;
	margin-left: -11px;
	margin-right: 0px;
}
.b-profile__left-wrap {
	padding: 0 10px 40px 10px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #eff4f9;
}
.b-profile__profile-img-wrapper {
	margin-top: 40px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	background-color: #fff;
	color: #b1c4d8;
	font-size: 80px;
	font-family: 'Cuprum', sans-serif;
	overflow: hidden;
	align-items: stretch;

	span {
		align-content: center;
	}
}
.b-profile__profile-img {
	width: 100%;
	height: 100%;
}
.b-profile__upload-delete {
	margin-top: 13px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: -9px;
}
.b-profile__upload-file {
	font-size: 0;
	opacity: 0;
	width: 0;
	height: 0;
}
.b-profile__upload {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin-left: 9px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	fill-rule: evenodd;
}
.b-profile__delete {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin-left: 9px;
	width: 30px;
	cursor: pointer;
	height: 30px;
	fill-rule: evenodd;
}
.b-profile__data-registr {
	margin-top: 30px;
	font-family: 'Cuprum', sans-serif;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: #545d63;
}
.b-profile__left-wrap .row {
	margin-left: 0;
	margin-right: 0;
}
.b-profile__right-item {
	margin-right: 20px;
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #9099a0;
	margin-top: 20px;
}
.b-profile__col-title {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
}
.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control {
	color: #545d63;
}
.b-profile__select {
	max-width: 100%;
	width: 100%;
	font-family: 'Cuprum', sans-serif;
	color: #545d63;
	cursor: pointer;
	padding: 6px 12px;
	border: 1px solid #8a9eb3;
	height: 40px;
	border-radius: 0.25rem;
	background: white;
}
.b-profile__right-wrap {
	background-color: #fff;
	padding: 32px 45px 32px 45px;
}
.b-profile__right-item-text {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
.b-profile__upload-delete label {
	cursor: pointer;
	width: 30px;
	height: 30px;
}
.b-profile__upload-delete .svg-icon__link {
	color: #bfbfbf;
	transition: all 0.25s;
}
.b-profile__upload label svg:hover,
.b-profile__upload label svg:focus {
	color: #1e417c;
}
.b-profile__delete svg:hover,
.b-profile__delete svg:focus {
	color: #f00;
}
@media (max-width: 991px) {
	.b-profile__wrap {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
@media (max-width: 680px) {
	.b-profile__wrap {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
}
@media (max-width: 991px) {
	.b-profile__left-wrap {
		margin-left: 0;
	}
}
@media (max-width: 680px) {
	.b-profile__left-wrap {
		max-width: 680px;
		width: 100%;
	}
}
