// HEADER ( PRODUCT INFO )
.estimate-gallery {
	display: flex;
	padding: 20px;
	border-radius: 20px;
	overflow: hidden;
	background-color: white;
	gap: 20px;

	&__main {
		display: flex;

		flex-grow: 1;

		border-radius: 20px;
		overflow: hidden;

		img,
		picture {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__list {
		flex-shrink: 1;
	}

	@media screen and (max-width: 400px) {
		flex-direction: column;
	}
}
.gallery-vertical {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;

	&__item {
		border-radius: 10px;
		overflow: hidden;
		flex-grow: 1;

		&:nth-child(n + 4) {
			display: none;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__text {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 0.875rem;
		letter-spacing: 0.03em;
		color: black;
		opacity: 0.4;
		text-align: center;
		background-color: transparent;
		border: none;
		transition: all 0.25s;

		&:hover {
			opacity: 1;
			color: $primary-dark;
		}
	}

	@media screen and (max-width: 400px) {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;

		&__item {
			flex-basis: 30%;
			margin-bottom: 5px;
		}
		&__text {
			flex-basis: 100%;
		}
	}
}
.estimate-product-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 35px;

	background-color: white;
	padding: 20px;

	border-radius: 20px;
	// overflow: hidden;

	&__title {
		font-weight: 400;
		font-size: 1.875rem;
		letter-spacing: 0.03em;
		color: #333;
	}
	&__date {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1rem;
		letter-spacing: 0.03em;
		color: black;
		opacity: 0.4;
	}

	&__lot {
		display: inline-flex;
		flex-direction: column;
		gap: 5px;
		margin-bottom: 20px;
	}
	&__lot-text {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1rem;
		letter-spacing: 0.03em;
		color: #333;
		opacity: 0.5;
	}
	&__lot-number {
		padding: 5px 30px;

		font-size: 1.25rem;
		letter-spacing: 0.03em;
		color: var(--bs-secondary);

		background: #f4f4f4;
		border-radius: 10px;
	}

	&__btn-wrapper {
		display: flex;
		gap: 15px;

		button {
			--padding-x: 10px;
			--padding-y: 12px;

			position: relative;
			padding: var(--padding-y) var(--padding-x);
			flex-basis: 50% !important;
			flex-grow: 1;
			text-align: center;
			font-size: 1.625rem;
			line-height: 1;
			letter-spacing: 0.03em;
			border-radius: 10px;
		}

		@include media-breakpoint-between(md, xl) {
			flex-wrap: wrap;
			gap: 10px;
			button {
				flex-basis: 100% !important;
			}
		}
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
			gap: 10px;
			button {
				flex-basis: 100% !important;
			}
		}
	}
	&__btn {
		flex-basis: 100%;

		color: $primary-dark;
		transition: all 0.25s;

		transition: all 0.25s;

		span {
			position: relative;
			z-index: 2;
			transition: all 0.25s;
		}
		&::before {
			content: '';
			position: absolute;
			inset: 0; /* Растягиваем на весь элемент */
			padding: 1px;
			border-radius: inherit;
			background: linear-gradient(90deg, #3579ff 0%, #073f7d 49%);
			-webkit-mask: linear-gradient(white 0 0) content-box,
				linear-gradient(white 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude;
			pointer-events: none; /* Чтобы не мешало кликам */
		}
		&::after {
			content: '';
			position: absolute;
			inset: 0; /* Растягиваем на весь элемент */
			padding: 1px;
			border-radius: inherit;
			background: linear-gradient(90deg, #3579ff 0%, #073f7d 49%);
			opacity: 0;
			transition: all 0.25s;
		}
		&:hover {
			color: $primary-dark;
			&::after {
				opacity: 1;
			}
			span {
				color: white;
			}
		}
	}
}

// BOTTOM ( MESSAGE SECTION )
.estimate-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 24px 35px;

	&_gray {
		background: #f8f8f8;

		font-family: 'Oswald', sans-serif;
		font-weight: 600;
		font-size: 1.875rem;
		color: #5b6774;

		padding: 13px 35px;
	}
	&__icon-wrapper {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	&_gradient {
		background: url(../assets/icons/single/bg-banner.svg),
			linear-gradient(46deg, #3579ff 0%, #073f7d 48.5%);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	&__paragraph {
		font-size: 1.625rem;
		color: #fff;
		margin: 0;

		a {
			text-decoration: underline;
			text-decoration-skip-ink: none;
			color: #31a0ca;
		}
	}
}

.message-item {
	display: flex;
	justify-content: space-between;
	gap: 20px;

	@include media-breakpoint-down(md) {
		flex-direction: column;
	}

	&__user {
		position: sticky;
		top: 10px;
		flex-basis: 202px;
		flex-grow: 0;
		flex-shrink: 0;
		height: 100%;

		@include media-breakpoint-down(md) {
			flex-basis: auto;
			position: static;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;

		flex-basis: 840px;
		flex-grow: 0;

		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.125rem;
		line-height: 160%;
		color: rgba(51, 51, 51, 0.8);

		@include media-breakpoint-down(md) {
			flex-basis: auto;
		}
	}
	&__message {
		display: flex;
		flex-direction: column;
		gap: 20px;

		p {
			margin: 0;
		}
	}
	&__btn-group {
		display: flex;
		gap: 40px;
	}
	&__btn {
		display: flex;
		align-items: center;
		gap: 10px;

		padding: 0;

		font-family: 'Roboto Condensed', sans-serif;
		font-size: 0.875rem;
		color: #797979;

		&:hover {
			color: $primary;
		}
	}

	&_answer &__content {
		position: relative;
		padding-left: 5%;
		@include media-breakpoint-down(sm) {
			padding-left: 10%;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 4px;
			height: 100%;
			background-color: $primary-dark;
			border-radius: 10px;
		}
	}
}
.user-block {
	display: flex;
	gap: 25px;
	&__avatar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		background-color: #a5a5a5;
		border-radius: 50%;
		overflow: hidden;

		img,
		picture {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;

		&_reverse {
			gap: 5px;
		}
	}
	&__name {
		font-weight: 600;
		font-size: 1.125rem;
		color: #073f7d;
		line-height: 1;
	}
	&__date {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 0.875rem;
		color: #5b6774;
		line-height: 1;
	}

	&__content {
		color: #5b6774;
	}
}
.message-quote {
	display: flex;
	flex-direction: column;
	gap: 12px;

	background: url('../assets/icons/single/quote.svg'), #ececec;
	background-repeat: no-repeat;
	background-size: 186px;
	background-position: top 20px right 20px;

	padding: 20px;
	border-radius: 0 20px 20px 20px;
	overflow: hidden;

	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.125rem;
	color: #5b6774;

	@include media-breakpoint-down(lg) {
		background-position: bottom 20px right 20px;
	}

	&__header {
		display: flex;
		gap: 10px;
		align-items: center;
	}
	&__header-title {
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		color: #879098;
	}
	&__header-user {
		font-size: 0.875rem;

		background-color: white;
		border-radius: 8px;
		padding: 5px 10px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		line-height: 160%;
	}
}

.message-form-wrapper {
	display: flex;
	gap: 30px;

	&__user {
		flex-basis: 50px;

		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	&__form {
		flex-basis: 100%;
		flex-grow: 1;
	}
}
.message-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;

	textarea {
		min-height: 55px;
		max-height: 350px;
		border: 1px solid #cacaca;
		padding: 15px;

		font-family: 'Roboto Condensed', sans-serif;
		line-height: 140%;
		letter-spacing: 0.03em;
		color: #a5a5a5;
		border-radius: 10px;
	}
	&__row {
		display: flex;
		& > * {
			flex-grow: 1;
		}
		&_separator-bottom {
			border-bottom: 1px solid #efefef;
		}
	}
	&__send-btn {
		max-width: 300px;
		font-size: 1.25rem;
	}
	@include media-breakpoint-down(md) {
		button {
			max-width: 100%;
		}
	}

	&_outline {
		gap: 0;
		// box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
		box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05),
			2px -2px 4px 0px rgb(0 0 0 / 0.02);
		background: #fff;
		border: 2px solid rgba(0, 0, 0, 0.03);
		border-radius: 10px;
	}
	&_outline &__row {
		padding: 20px;
	}
}
.dropdown-settings {
	.dropdown-toggle {
		text-decoration: none;
		transition: all 0.25s;

		&.show {
			background-color: #e7e7e7;
			color: rgb(110, 108, 108) !important;
		}
		svg {
			display: none;
		}
		&::after {
			transform: translateY(40%);
		}
	}
	.dropdown-item {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 10px 22px;
		line-height: 1;

		&:hover {
			background-color: $primary;
			color: white !important;
		}
	}
	.dropdown-menu {
		background-color: white;
		color: $primary;
		padding: 8px 0;
	}

	@include media-breakpoint-down(lg) {
		.dropdown-toggle {
			&::after {
				display: none;
			}
			svg {
				display: block;
			}
			span {
				display: none;
			}
		}
	}
}
.reply {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.user-block {
		flex-grow: 1;
	}
}
.form-quote {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 10px;

	background-color: #ececec;

	padding: 10px;
	border-radius: 0 10px 10px 10px;

	&__title {
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		color: #879098;
	}
	&__edit {
		color: $gray-600;
	}
	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__text {
		position: relative;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 150%;
		color: $gray-600;
	}
}
