.pagination-wrapper {
	gap: 20px;
	// justify-content: flex-end !important;
}
.pagination {
	gap: 5px;
	margin-bottom: 0;

	& .page-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 5px;
	}

	&__arrow > a {
		color: $primary-dark;

		&:hover {
			color: white;
		}
	}

	@include media-breakpoint-down(md) {
		justify-content: space-between;
		flex-basis: 100%;
		gap: 15px;
	}

	.page-item.circle a {
		padding: 0 !important;
		width: auto;
		height: auto;
	}
}

.btn-group-pagination {
	--pagination-padding-x: 15px;
	--pagination-padding-y: 5px;

	@include media-breakpoint-down(md) {
		--pagination-padding-x: 10px;
	}

	.btn {
		position: relative;
		border: none;
		padding: var(--pagination-padding-y) var(--pagination-padding-x);
	}
	.btn:not(:last-child)::after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(50%, -50%);
		width: 1px;
		height: 50%;
		background-color: $secondary;
	}
	.btn-outline-primary:hover {
		color: white;
	}
}
