$pagination-color: $secondary;
$pagination-hover-color: $white;

$pagination-font-size: 1.25rem;

$pagination-padding-y: 0;
$pagination-padding-x: 10px;

$pagination-border-radius: 5px;
$pagination-border-width: 0px;

$pagination-hover-bg: $primary;
$pagination-disabled-bg: transparent;

$pagination-disabled-color: #b4b4b4;
