.catalog-menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	background-color: #021c38;
	transform: translateX(-100%);
	transition: all 0.25s;
	z-index: 1000;
	padding-top: 50px;

	.nav-link {
		color: white;
	}

	&.show {
		transform: translateX(0%);
	}
	&.show ~ .scroll-menu {
		z-index: 1000;
		transform: translateY(0%);
	}
}
