.btn-gradient {
	position: relative;
	border: none;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(46deg, #3579ff 0%, #2a62d0 100%);
		z-index: 0;
		opacity: 0;
		transition: all 0.25s;
	}

	& > * {
		z-index: 1;
		transition: all 0.25s;
	}

	&:hover {
		background: transparent;
		&::before {
			opacity: 1;
		}
		& > * {
			color: white !important;
		}
	}
}
// BTN AUTHORIZATION
.btn-authorization {
	min-height: 46px;
	padding: var(--btn-padding-x);

	& > button {
		font-size: 1.25rem;
	}

	@include media-breakpoint-down(lg) {
		& > button {
			border-radius: var(--bs-border-radius) !important;

			&::after {
				display: none;
			}
		}
	}
}
.btn-authorization > button:not(:last-child) {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(50%, -50%);
		width: 2px;
		height: 50%;
		background-color: #fff;
		z-index: 100;
	}
}

// BTN GROUP CUSTOM VERTICAL
.btn-group-custom-vertical {
	display: inline-flex;
	flex-direction: column;
	gap: 1rem; // 30px

	.btn {
		--bs-btn-active-bg: transparent;
		--bs-btn-active-color: var(--bs-primary);
		--bs-btn-hover-color: var(--bs-primary-dark);
		border-color: transparent !important;
	}
}
@include media-breakpoint-only(sm) {
	.btn-group-custom-vertical {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;

		& > a {
			flex-basis: 48%;
		}
	}
}
.btn-custom-vertical {
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
	align-items: center;
	gap: 1rem;
	font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: 400;
	color: white;
	padding: 10px;

	transition: all 0.25s;
	border-radius: 8px;

	text-decoration: none;

	&:hover {
		color: $primary;
	}

	&.active {
		color: $primary;
		background-color: white;
	}

	svg {
		width: 20px;
		height: 20px;
		color: $primary;
	}
}
// @include media-breakpoint-down(sm) {
// 	.btn-custom-vertical {
// 		padding-left: 0;
// 	}
// }

// BTN GROUP ROUND
.btn-group-round {
	max-width: 142px;
	padding: 10px 20px;
	background-color: $secondary-light;
}
.btn-group-round {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	border-radius: 20px;
	gap: 20px;

	button {
		--bs-btn-disabled-color: #b4b4b4;
		--bs-btn-disabled-border-color: #b4b4b4;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
	}
}

// BIG BTN
.btn-big {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	display: inline-block;
	padding: 15px;
	background-color: #367bc5;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	border-radius: 10px;
	text-decoration: none;
	transition: 0.3s !important;
	border: 1.5px solid;
	border-color: #362f6d;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

	&:hover {
		background-color: #1c6abe;
		color: #fff;
		text-decoration: none;
	}
}
:root {
	--header-banner-btn-max-width: 286px;

	@include media-breakpoint-down(lg) {
		--header-banner-btn-max-width: 186px;
	}
}
.header-banner-btn,
.header-banner-btn + p {
	max-width: var(--header-banner-btn-max-width);
}

.header-banner-btn {
	gap: 10px;

	@include media-breakpoint-down(lg) {
		text-align: left;
		gap: 15px;

		svg {
			flex-shrink: 0;
		}
		&__text {
			font-size: 1.25rem !important;
		}
	}
}
.btn-group-product {
	gap: 5px;

	@include media-breakpoint-down(lg) {
		gap: 4px;
	}
}
.card-product__btn {
	transition: all 0.25s;

	&:hover {
		background-color: $primary;
		color: white;
	}
}
.navbar-toggler {
	transition: all 0.25s;
	&:hover {
		background-color: transparent !important;
		color: $primary !important;
	}
	&:focus {
		box-shadow: none !important;
	}
	&_animation:hover {
		transform: scale(1.1);
	}
}

.btn-like {
	transition: all 0.25s;
	svg {
		transition: all 0.25s;
	}

	&:hover,
	&.active {
		color: $primary !important;
		border-color: transparent !important;

		& svg {
			fill: $primary;
		}
	}
}
