.heading-3-copy {
	margin-top: 0px;
	color: #545d63;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5rem;
}
.div-block-9 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 30px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.div-block-10 {
	width: 31.33333333%;
	margin: 1%;
	// padding: 15px;
	border: 1px solid #f3f2ef;
	background-color: #fff;
	text-align: center;
	border-radius: 10px;
}
.div-block-10 a {
	text-decoration: none;
	color: #073f7d;

	&:hover .service-slider-header-slider {
		background: rgba(0, 14, 53, 1);
	}
}
.div-block-10-inner {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}
.div-block-11 {
	width: 100%;
	height: 200px;
	background-image: url(../images/oruj.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.service-slider-header,
.service-slider-header-slider {
	display: block;
	position: absolute;
	background: rgba(0, 14, 53, 0.75);
	color: #fff !important;
	cursor: pointer;
	text-align: center;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	font-size: 1.5rem !important;
	transition: all 0.25s;
}
.div-block-10-inner .service-slider-header-slider {
	bottom: 0;
	margin-bottom: 0;
}

@media (max-width: 991px) {
	.div-block-9 {
		margin-top: 30px;
	}
}
@media (max-width: 991px) {
	.div-block-10 {
		width: 48%;
	}
}
@media (max-width: 991px) {
	.div-block-11 {
		height: 250px;
	}
}
@media (max-width: 576px) {
	.div-block-9 {
		margin-top: 0;
	}
}
@media (max-width: 576px) {
	.div-block-10 {
		width: 100%;
		padding: 10px;
		margin: 10px 1%;
	}
}
@media (max-width: 576px) {
	.div-block-11 {
		height: 250px;
	}
}
