// LAYOUT
$container-max-widths: (
	sm: 100%,
	md: 940px,
	lg: 960px,
	xl: 1194px,
	xxl: 1194px,
);

// COLORS
$primary: #367bc5;
$dark: #021c38;
$secondary: #b4b4b4;
$white: #fff;
$body-bg: #f4f3f0;
$gray: #7f8d9a;
$gray-light: #8a9eb4;
$secondary-light: #f4f4f4;
$primary-dark: #073f7d;
$gray-200: #f3f3f3;
$gray-300: #989898;
$gray-400: #cfd7dd;
$gray-500: #e4e5e7;
$gray-600: #545d63;
// Create your own map
$custom-colors: (
	'primary-dark': $primary-dark,
	'secondary-light': $secondary-light,
	'gray': $gray,
	'gray-light': $gray-light,
	'gray-200': $gray-200,
	'gray-300': $gray-300,
	'gray-500': $gray-500,
	'gray-600': $gray-600,
);

// TYPOGRAPHY
$font-family-base: 'Oswald', 'Helvetica', sans-serif;
$font-size-root: 16px;

$h1-font-size: 2.5rem; // 40px
$h2-font-size: 1.875rem; // 30px
$h3-font-size: 1.25rem; // 20px
$h5-font-size: 1rem; // 16px
$h6-font-size: 0.875rem; // 14px
$badge-font-size: 0.875rem; // 14px

// BORDER RADIUS
$border-radius-xl: 1.25rem; // rounded-4 | 20px
$border-radius-lg: 0.625rem; //rounded-3 | 10xp

// INCLUDE VARIABLES FROM COMPONENTS
@import './components/badge/variables-badge';
@import './components/breadcrumb/variables-breadcrumb';
@import './components/buttons/variables-buttons';
@import './components/card/variables-card';
@import './components/navs/variables-navs';
@import './components/pagination/variables-pagination';
@import './components/list-group/variables-list-group';
