.list-group-widget {
	a.list-group-item {
		position: relative;
		border: none;
		font-size: 1.125rem;

		&:hover {
			background-color: var(--bs-primary-dark) !important;
			color: white !important;

			&::before {
				// background-color: transparent !important;
			}
		}

		&:first-child {
			padding-top: 1rem;
		}
		&:last-child {
			padding-bottom: 1rem;
		}
	}
	a.list-group-item:not(.active):hover > span,
	a.list-group-item.active > span {
		color: white !important;
	}
	a.list-group-item:not(:last-child):before {
		content: '';
		position: absolute;
		height: 1px;
		left: var(--bs-list-group-item-padding-x);
		right: var(--bs-list-group-item-padding-x);
		bottom: -1px;
		background-color: $secondary-light;
	}
}
.list-group-underline {
	$list-group-item-padding-x: 0;

	& > .list-group-item {
		border: none;
		padding-left: var(--$list-group-item-padding-x);
		padding-right: var(--$list-group-item-padding-x);
	}
	& > .list-group-item::before {
		content: '';
		position: absolute;
		height: 1px;
		left: var(--$list-group-item-padding-x);
		right: var(--$list-group-item-padding-x);
		bottom: 0;
		background-color: #edf4f9;
	}
}
