$list-group-color: $primary-dark;
$list-group-bg: $white;
$list-group-border-width: 1px;
$list-group-border-color: $secondary;
$list-group-item-padding-x: 1.25rem;
$list-group-action-hover-bg: #eef4fa;
$list-group-active-bg: #eef4fa;
$list-group-active-color: black;
