// DropDown btn
.btn-primary-dark + .dropdown-menu {
	--bs-dropdown-bg: var(--bs-primary-dark);
	--bs-dropdown-link-hover-bg: var(--bs-primary);
	--bs-dropdown-link-color: white;
	--bs-dropdown-link-hover-color: white;
}

.dropdown-input-select {
	--bs-dropdown-padding-y: 5px;
	--bs-dropdown-padding-x: 5px;
	--bs-dropdown-item-padding-y: var(--bs-dropdown-padding-y);
	--bs-dropdown-item-padding-x: var(--bs-dropdown-padding-x);

	// Для Firefox
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.05);

	.dropdown-toggle {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		min-height: calc(
			27px + var(--input-padding-y, 0px)
		); // Наследуется с auth-form__input-wrapper
		text-decoration: none;

		&::after {
			// position: absolute;
			justify-self: flex-end;
			right: 0;
			top: 50%;
			transform: translateY(50%);
		}
	}
	.dropdown-menu {
		--bs-dropdown-link-color: white;
		--bs-dropdown-link-hover-color: var(--bs-primary-dark);

		max-height: 50vh;
		overflow-y: auto;

		width: 100%;
		backdrop-filter: blur(4px);
		background: linear-gradient(
			90deg,
			rgba(6, 40, 86, 0.8) 0%,
			rgba(16, 72, 149, 0.8) 100%
		);

		border-width: 0px;

		&::-webkit-scrollbar-thumb:hover {
			background: rgba(255, 255, 255, 0.3) !important;
		}
		&::-webkit-scrollbar-track {
			background-color: rgba(255, 255, 255, 0.1) !important;
		}
		&::-webkit-scrollbar {
			width: 6px;
			background-color: transparent !important;
		}
		&::-webkit-scrollbar-thumb {
			background-color: rgba(255, 255, 255, 0.2) !important;
			border-radius: 3px;
		}
	}
	.dropdown-item {
		transition: all 0.15s;
	}
}
